:root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FFF;
}

body {
    max-width: 1300px;
    margin: auto;
}

.h1 {
    font-weight: 400;
    margin: 60px 0;
    font-size: 36px;
    text-align: center;
}

.h2 {
    font-weight: 700;
    font-size: 18px;
}

.h3 {
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0;
    text-align: justify;
}

h4 {
    margin-top: 25px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

p {
    font-weight: 400;
    margin: 20px 50px;
    text-align: justify;
}

.main-block-info-marker {

    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 51%;
    margin-left: -55px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75px;
    min-width: 75px;
    border-radius: 50%;
    z-index: 2;
    background-color: rgb(62, 62, 114);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.main-block-info-marker:hover {
    background-color: rgb(17, 185, 237);
    transition: 0.3s;
}

/* -- header -- */


.header-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.header_logo {
    background-image: url(images/1.jpg);
    width: 54%;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 10px;

}

.header-info {
    width: 46%;
    height: max-content;
    padding: 10px 40px 10px 50px;
    margin-top: 40px;
}

.btn {
    height: 40px;
    width: 190px;
    background-color: rgb(17, 185, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 0.5s;
    margin: 50px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn:hover {
    background-color: blue;
}

.btn a {
    text-decoration: none;
    color: #FFF;
}

/* -- main -- */

.main-block {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.main-block-info-logo-1 {
    background-image: url(images/icon1.png);
    margin: 10px 0 0 50px;
    max-width: 150px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.main-block-info {
    width: 75%;
    height: 330px;

}

.main-block-img-1 {
    height: 330px;
    width: 75%;
    background-image: url(images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
}


.main-block-img-2 {
    height: 330px;
    width: 75%;
    background-image: url(images/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.main-block-info-logo-2 {
    background-image: url(images/icon2.png);
    background-position: center;
    margin: 10px 0 0 50px;
    height: 100px;
    max-width: 110px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-block-info-logo-3 {
    background-image: url(images/icon3.png);
    background-position: center;
    margin: 10px 0 0 50px;
    height: 120px;
    max-width: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-block-img-3 {
    height: 330px;
    width: 75%;
    background-image: url(images/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-block-img-4 {
    height: 330px;
    width: 75%;
    background-image: url(images/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.main-block-info-logo-4 {
    background-image: url(images/icon5.png);
    margin: 10px 0 0 50px;
    height: 80px;
    max-width: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.main-block-info-logo-5 {
    background-image: url(images/icon4.png);
    margin: 0 0 0 50px;
    height: 115px;
    max-width: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.main-block-img-5 {
    height: 350px;
    width: 75%;
    background-image: url(images/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* -- footer -- */

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 212, 212);
    width: 100%;
    margin-bottom: 40px;
}

.video {
    margin-bottom: 80px;
}

.wrap-footer {
    width: 700px;
    padding-bottom: 60px;
}

@media (max-width: 740px) {

    .h1 {
        font-weight: 400;
        margin: 20px 0;
        font-size: 32px;
        text-align: center;

    }

    .h2 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin: 10px 50px;
    }

    .h3 {
        font-weight: 400;
        font-size: 18px;
        margin: 20px 0;
        text-align: justify;
    }

    h4 {
        margin-top: 15px;
        text-align: center;
        font-size: 28px;
        font-weight: 400;
    }

    p {
        font-weight: 400;
        margin: 15px 50px;
        text-align: justify;
    }

    .main-block-info-marker {

        cursor: pointer;
        position: absolute;
        top: 55%;
        margin-top: -60px;
        left: 51%;
        margin-left: -55px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-height: 75px;
        max-width: 75px;
        z-index: 2;
        border-radius: 50%;
        background-color: rgb(62, 62, 114);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .main-block-info-marker:hover {
        background-color: rgb(17, 185, 237);
        transition: 0.3s;
    }

    /* -- header @media (max-width: 1100px) -- */

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .header_logo {
        background-size: cover;
        background-position: bottom;
        margin-top: 10px;
        width: 75%;

    }

    .header-info {
        width: 75%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        height: 40px;
        width: 190px;
        padding: 0;
        background-color: rgb(17, 185, 237);
        border-radius: 25px;
        transition: 0.5s;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .btn:hover {
        background-color: blue;
    }

    .btn a {
        text-decoration: none;
        color: #FFF;
    }

    /* -- main @media (max-width: 1100px) -- */

    .wrap {
        margin: 0;
    }

    .main-block {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-block-info-logo-1 {
        height: 50px;
        max-width: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-block-info {
        display: flex;
        height: max-content;
        min-height: 350px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgb(245, 242, 242);
    }

    .main-block-rev {
        display: flex;
        flex-direction: column-reverse;
    }


    .main-block-img-1 {
        background-size: cover;
        background-repeat: no-repeat;
    }


    .main-block-img-2 {
        background-repeat: no-repeat;
        background-size: cover;
    }


    .main-block-info-logo-2 {
        height: 100px;
        width: 115px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        margin-left: 50px;
    }

    .main-block-info-logo-3 {
        height: 100px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        margin-left: 50px;
    }

    .main-block-img-3 {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-block-img-4 {
        background-repeat: no-repeat;
        background-size: cover;
    }


    .main-block-info-logo-4 {
        height: 80px;
        width: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        margin-left: 50px;
    }

    .main-block-info-logo-5 {
        height: 110px;
        width: 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        margin-left: 50px;

    }

    .main-block-img-5 {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }

    /* -- footer @media (max-width: 1100px) -- */

    .footer {
        display: flex;
        width: auto;
        justify-content: center;
        background-color: rgb(214, 212, 212);
        margin-bottom: 40px;
        width: 100%;
        margin: 0;
    }

    .wrap-footer {
        width: 75%;
    }

    .video {
        margin: auto;
    }
}