:root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FFF;
}

body {
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-weight: 400;
    margin: 50px 0;
    font-size: 40px;

}

.main-block-right {
    height: 279px;
}

h2 {
    margin: 10px 50px 20px 50px;
}

h3 {
    margin: 40px 0;
    font-weight: 400;
    min-width: 511px;
}

h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

p {
    font-weight: 400;
    margin: 0 50px;
    min-width: 450px;
}

.main-block-info-marker {
    cursor: pointer;
    position: relative;
    top: 140px;
    right: 588px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75px;
    min-width: 75px;
    border-radius: 50%;
    background-color: rgb(62, 62, 114);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-block-info-marker:hover {
    background-color: rgb(17, 185, 237);
    transition: 0.3s;
}

/* -- header -- */

.header-wrapper {
    display: flex;
}

.header_logo {
    background-image: url(images/1.jpg);
    min-width: 550px;
    min-height: 680px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;

}

.header-info {
    width: 651px;
    padding: 40px 180px 40px 40px;
    margin-top: 50px;
}

.btn {
    height: 40px;
    width: 190px;
    background-color: rgb(17, 185, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 0.5s;
    margin: 50px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn:hover {
    background-color: blue;
}

.btn a {
    text-decoration: none;
    color: #FFF;
}

/* -- main -- */

.main-block {
    text-align: left;
    display: flex;
}

.main-block-info-logo-1 {
    background-image: url(images/icon1.png);
    height: 50px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 80px 0 40px 40px;
}

.main-block-info {
    width: 550px;
}

.main-block-img-1 {
    height: 350px;
    min-width: 550px;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.main-block-img-2 {
    min-height: 350px;
    min-width: 550px;
    background-image: url(images/3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.main-block-info-logo-2 {
    background-image: url(images/icon2.png);
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px 0 40px 40px;
}

.main-block-info-logo-3 {
    background-image: url(images/icon3.png);
    height: 120px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px 0 20px 40px;
}

.main-block-img-3 {
    min-height: 350px;
    min-width: 550px;
    background-image: url(images/4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-block-img-4 {
    min-height: 350px;
    min-width: 550px;
    background-image: url(images/5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.main-block-info-logo-4 {
    background-image: url(images/icon4.png);
    height: 120px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px 0 20px 40px;
}

.main-block-info-logo-5 {
    background-image: url(images/icon5.png);
    height: 100px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px 0 20px 40px;
}

.main-block-img-5 {
    min-height: 350px;
    min-width: 550px;
    background-image: url(images/6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* -- footer -- */

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 212, 212);
    width: 1100px;
    margin-bottom: 40px;
}

.video {
    margin-bottom: 80px;
}

@media (max-width: 1100px) {

    h1 {
        font-weight: 400;
        margin: 0 30px 20px 30px;
        font-size: 28px;
        text-align: center;
    }

    h2 {
        margin: 10px 50px 20px 50px;
        text-align: center;
    }

    h3 {
        margin: 20px 60px;
        font-weight: 400;
        font-size: 18px;
        min-width: 511px;
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin: 15px;
    }

    p {
        font-weight: 400;
        margin: 0 50px;
        min-width: 450px;
    }

    .main-block-info-marker {
        cursor: pointer;
        position: relative;
        left: 280px;
        top: -380px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-height: 75px;
        max-width: 75px;
        border-radius: 50%;
        background-color: rgb(62, 62, 114);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .main-block-info-marker:hover {
        background-color: rgb(17, 185, 237);
        transition: 0.3s;
    }

    /* -- header @media (max-width: 1100px) -- */

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .header_logo {
        background-size: contain;
        justify-content: center;
        background-repeat: no-repeat;
        margin-top: 40px;

    }

    .header-info {
        width: 651px;
        margin-top: 20px;
        padding: 0;
    }

    .btn {
        height: 40px;
        width: 190px;
        padding: 0;
        margin: 10px 0 25px 230px;
        background-color: rgb(17, 185, 237);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        transition: 0.5s;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .btn:hover {
        background-color: blue;
    }

    .btn a {
        text-decoration: none;
        color: #FFF;
    }

    /* -- main @media (max-width: 1100px) -- */

    .wrap {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .main-block {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .main-block-info-logo-1 {
        height: 50px;
        max-width: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px 0 40px 210px;
    }

    .main-block-info {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgb(245, 242, 242);
    }


    .main-block-img-1 {
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .main-block-img-2 {
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .main-block-info-logo-2 {
        height: 100px;
        width: 150px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 10px 0 10px 210px;
    }

    .main-block-info-logo-3 {
        height: 120px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 10px 0 10px 230px;
    }

    .main-block-img-3 {
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .main-block-img-4 {
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .main-block-info-logo-4 {
        height: 120px;
        width: 130px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 10px 0 10px 210px;
    }

    .main-block-info-logo-5 {
        height: 100px;
        width: 130px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 10px 0 10px 210px;
    }

    .main-block-img-5 {
        background-repeat: no-repeat;
        background-size: 100%;
    }

    /* -- footer @media (max-width: 1100px) -- */

    .footer {
        display: flex;
        width: auto;
        justify-content: center;
        background-color: rgb(214, 212, 212);
        margin-bottom: 40px;
        min-width: 600px;
    }

    .video {
        margin: auto;
    }

    /* @media (max-width: 600px) {

    } */
}